
body {
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	/*margin-top: 15px;*/
}
h3 {
	color: white;
	font-size: 25px;
}
h5 {
	color: white;
	font-size: 25px;
}

img {
	width: 100%;
	height: 20%;
	margin: 0;
}